<div class="dialogContent">
  <h2 mat-dialog-title>Details</h2>
  
  <mat-dialog-content style="background-color: #333333;" >
  
  <!-- <p> Place content here {{data.name}}</p> -->
  <table mat-table [dataSource]="dataSources" multiTemplateDataRows class="mat-elevation-z8 departmentTableClass">
  
      <ng-container matColumnDef="evaluation_name">
          <th mat-header-cell *matHeaderCellDef> Evaluation Name </th>
          <td mat-cell *matCellDef="let element"> {{element.evaluationName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="evaluation_marks">
          <th mat-header-cell *matHeaderCellDef> Evaluation Marks </th>
          <td mat-cell *matCellDef="let element"> {{element.evaluationMarks}} </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedStudentsFragmentList"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedStudentsFragmentList;" class="student-element-row" ></tr>
  
        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr> -->
    </table>
  </mat-dialog-content>
  
  
  <mat-dialog-actions>
      
  <div style="width: 100%;">
    <button mat-button class="mat-raised-button float-right" color="warn" (click)="close()" >Close</button>
  </div>
   
  </mat-dialog-actions>
  </div>