background {
    background: rgba(17, 17, 17, 0.87);
}
.Btn{
    background: #3f3a64;
  background: -webkit-gradient(linear, 0 0, 0 0, from(#7b59d0), to(#3f3a64));
  background: -moz-linear-gradient(#7b59d0, #3f3a64);
  background: linear-gradient(#7b59d0, #3f3a64);
  border-top: 1px solid #7b59d0;
  color: #d3d1da;
}

.footer {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 9px;
  left: -25%;
  padding: 1rem;
  
  text-align: right;
  height: 4em;
  left: 0;
  font-size: small;
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 44px;
}

.mat-form-field-flex ng-tns-c127-3 .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
  border-bottom: 1px solid white !important;
}
.mat-select-value-text {
  color: rgb(255 255 255) !important;
}
.mat-select-value {
  color: rgb(255 255 255);
}
.mat-stepper-vertical, .mat-stepper-horizontal {
  display: contents;
}

.blueBtn {
  position:relative;
  cursor: pointer;
  background: #7eb38d;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  color: rgb(0,0,0,0.7);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1);
  
  -webkit-transition: 0.1s ease-out;
  -moz-transition:    0.1s ease-out;
  -o-transition:      0.1s ease-out;
  transition:         0.1s ease-out;
    
}
