<mat-toolbar class="subHeader">
  <span>Seat Matrix</span>
</mat-toolbar>
<div class="bground">
  <div class="row">
    <div class="col-sm-8">
      <div class="panelArea">
        <div class="Dropdown">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input
                type="text"
                placeholder="Enter College Name"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-2" style="height: 2rem; margin-top: 0.5rem">
      <!-- <mat-form-field appearance="outline" class="paddingInput"> -->
        <!-- <mat-label>Course Id</mat-label> -->
        <input
          [disabled]="isInputShown"
          matInput
          placeholder="Course Id"
          style="margin-top: 0.5rem"
          [(ngModel)]="courseID"
          class="styleSelect"
        />
      <!-- </mat-form-field> -->
    </div>
    <div class="col-sm-1">
      <div class="adddiv">
        <button mat-button class="Addbutton" (click)="OnClickAddQuota()">
          Add Quota
        </button>
      </div>

      <ng-container *ngIf="show">
        <!-- <div style="text-align: left">
          <div class="row borderIt">
            <mat-form-field appearance="outline" class="categoryinput">
              <mat-label class="categorylabel">Category name</mat-label>
              <input
                matInput
                class="categoryinput"
                [(ngModel)]="dataTemplate.Quota_name"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="categoryinput">
              <mat-label class="categorylabel">Percentage</mat-label>
              <input
                matInput
                type="number"
                class="categoryinput"
                [(ngModel)]="dataTemplate.Quota_percentage"
              />
            </mat-form-field>
            <div class="adddiv">
              <button mat-button class="Addbutton" (click)="onPressAddQuota()">
                +
              </button>
            </div>
          </div>
        </div> -->
      </ng-container>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="listofcourses">
            <div id="container">
              <div class="row abcd">
                <div class="col-sm-7">
                  <a
                    (click)="chartchange(courses)"
                    class="s3d dribbble"
                    *ngFor="let courses of courselistarray"
                  >
                    {{ courses }}
                    <span class="icons dribbble"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 chart">
          <fusioncharts
            type="pie3d"
            width="600"
            height="330"
            #chartid
            [dataSource]="dataSource"
          >
          </fusioncharts>
        </div>
      </div>
    </div>
  </div>
</div>
