<mat-toolbar class="subHeader">
    <span>Seat Matrix</span>
</mat-toolbar>
<div class="panelArea">
    <div class="Dropdown">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Enter College Name" aria-label="Number" matInput
                    [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="listofcourses">
                <div id="container">
                    <div class="row abcd">
                        <div class="col-sm-7">
                            <a href="#" class="s3d dribbble">
                                Computer science and Engineering
                                <span class="icons dribbble"></span>
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <button mat-mini-fab class="example-icon blob" (click)="openDialog()"
                                aria-label="Edit or view">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>
                    <div class="row abcd">
                        <div class="col-sm-7">
                            <a href="#" class="s3d twitter">
                                Information science and Engineering
                                <span class="icons twitter"></span>
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <button mat-mini-fab class="example-icon blob" aria-label="Edit or view">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div class="row abcd">
                        <div class="col-sm-7">

                            <a href="#" class="s3d facebook">
                                Electronics and Communication
                                <span class="icons facebook"></span>
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <button mat-mini-fab class="example-icon blob" aria-label="Edit or view">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div class="row abcd">
                        <div class="col-sm-7">

                            <a href="#" class="s3d forrst">
                                Mechanical Engineering
                                <span class="icons forrst"></span>
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <button mat-mini-fab class="example-icon blob" aria-label="Edit or view">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div class="row abcd">
                        <div class="col-sm-7">

                            <a href="#" class="s3d designmoo">
                                Civil Engineering
                                <span class="icons designmoo"></span>
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <button mat-mini-fab class="example-icon blob" aria-label="Edit or view">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div class="row abcd">
                        <div class="col-sm-7">

                            <a href="#" class="s3d flickr">
                                Electrical and Electronics

                            </a>
                        </div>
                        <div class="col-sm-5 ">
                            <button mat-mini-fab class="example-icon blob" aria-label="Edit or view">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>








                </div>



            </div>

        </div>

        <div class="col-sm-6 chart">

            <fusioncharts type='pie3d' width='600' height='330' [dataSource]='dataSource'
              >
            </fusioncharts>

        </div>

    </div>

</div>