#evaluationCriteriaTable {
    width        : 95%;
    margin       : 2rem;
    margin-bottom: 0;
    margin-top   : 0;
}

.floatingButtonAdd {
    position           : fixed;
    width              : 60px;
    height             : 60px;
    bottom             : 40px;
    right              : 40px;
    /* background-color:linear-gradient(#7b59d0, #3f3a64);  */
    /* color           : #FFF; */
    border-radius      : 50px;
    text-align         : center;
    /* box-shadow      : 2px 2px 3px #999; */
}

.skeletonCard {
    width : 95%;
    margin: auto;
    color : #d9d9d9;
    margin: 2rem;

    /* display:flex; */
    flex-wrap  : wrap;
    align-items: center;
    padding-top: 1em;
    overflow-x : auto;
    background : #25292C;
    box-shadow : inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.3),
        inset 3px 15px 45px rgba(0, 0, 0, 0.2),
        inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        inset -3px -15px 45px rgba(255, 255, 255, 0.1),
        1px 5px 10px -4px rgba(0, 0, 0, 1);
}

.filterSection {
    margin     : 2rem;
    display    : flex;
    width      : 95%;
    flex-wrap  : wrap;
    align-items: center;
    padding    : 1em;
    overflow-x : auto;
    background : #25292C;
    box-shadow : inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.3),
        inset 3px 15px 45px rgba(0, 0, 0, 0.2),
        inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        inset -3px -15px 45px rgba(255, 255, 255, 0.1),
        1px 5px 10px -4px rgba(0, 0, 0, 1);

}

.filterSection mat-label {
    color: #cccccc;
}

#switchSubjectButton {
    margin-left: 1rem;
}

.bottomButtonGroup {
    margin: 2rem;
}

.customButton {
    background: #3f3a64;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#7b59d0), to(#3f3a64));
    background: -moz-linear-gradient(#7b59d0, #3f3a64);
    background: linear-gradient(#7b59d0, #3f3a64);
    border-top: 1px solid #7b59d0;
    color     : #d9d9d9;
    margin    : 2rem;
}



.customButton:hover {
    opacity: 0.9;
    color  : #f2f2f2;
}

.green-icon {
    color: green;
}

mat-toolbar {
    background-color: #25292C;
    color           : #F5F5F5;
    width           : 95% !important;
    margin          : 2rem !important;
    margin-top      : 0 !important;
}


.thead .customHeader {
    background: #25292C !important;
}


.mat-header-cell {
    color           : #d9d9d9;
    background-color: #25292C;
}

.mat-cell {
    color: #d9d9d9;
}


::ng-deep .mat-select-value{    
    color: #2c2b2b!important;
  }


.customTable {
    background: #4e5356;

    box-shadow: inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.3),
        inset 3px 15px 45px rgba(0, 0, 0, 0.2),
        inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        inset -3px -15px 45px rgba(255, 255, 255, 0.1),
        1px 5px 10px -4px rgba(0, 0, 0, 1) !important;
    color: #d9d9d9;

}


.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

/* Font color */
input.mat-input-element {
    color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color       : white !important;
    border-color: white !important;
}


.styleSelect {
    background   : #b5b5b5;
    padding      : 0.5rem;
    border-radius: 0.5rem;
}

.styleSelect.mat-select-value {
    color: #f8f9fa !important;
}


:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.9em 0 0.75em 0 !important;
}

:host ::ng-deep .mat-select-arrow {
    width       : 0;
    height      : 0;
    border-left : 5px solid transparent;
    border-right: 5px solid transparent;
    border-top  : 5px solid;
    margin      : 0 4px;
    position    : relative;
    top         : 8px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

/* Font color */
input.mat-input-element {
    color: white;
}