table {
  width: 100%;
}

/* .btnStyle {
  background-color: blue;
  color: white;
  border-radius: 25px;
  margin: 0 5px 0 5px;
  padding: 5px 10px 5px 10px;
} */
/* mat-toolbar-row {
  height: 10px;
} */
