table {
    width: 95%;
  }
  
  
  /* tr.student-element-row:not(.student-expanded-row):hover {
    background: whitesmoke;
  } */
  
  tr.student-element-row:not(.student-expanded-row):active {
    background: #efefef;
  }
  .noDataTable{
    
    position: absolute;
    margin-left: 28rem;
    margin-top: 1.3rem;
    font-size: 17px;

  }
  .student-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#333333;
    box-shadow: inset 2px 3px 8px #c1c1c1;
    border-radius: 8px;
    color:white;
  }
  
  .student-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .student-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .student-element-description {
    padding: 16px;
  }
  
  .student-element-description-attribution {
    opacity: 0.5;
  }

  .styleSelect{
    background: #b5b5b5;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .styleSelect.mat-select-value {
    color: #f8f9fa !important;
  }

  .departmentTableClass{
    box-shadow: 1px 2px 8px #0b0b0b  !important;
    margin-left: 1rem;
    background-color: #333333;
}
/*  */
/* .departmentTableClass th.mat-header-cell {
  font-size: 0.9rem;
  color: white;
  border-bottom-color: #007bff;
}
.departmentTableClass td.mat-cell{
  color: white;
  border-bottom-color: #007bff;
}
.departmentTableClass tr.mat-row, tr.mat-footer-row {
  height: 0px !important;
}

.departmentTableClass .mat-list-base .mat-subheader {
  color: rgb(255 255 255 / 100%);
} */ */


:host ::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  position: relative;
  top: 8px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.95em 0 0.75em 0!important;
}

.Btn{
background: #3f3a64;
background: -webkit-gradient(linear, 0 0, 0 0, from(#7b59d0), to(#3f3a64));
background: -moz-linear-gradient(#7b59d0, #3f3a64);
background: linear-gradient(#7b59d0, #3f3a64);
border-top: 1px solid #7b59d0;
color: #d3d1da;
}

::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  background-color: #333333;
  color: white;
}

/* ::ng-deep .mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  background-color: #333333;
} */
.main-content{
  /* padding: 2em; */
  background-color: #262626;
  /* min-height: 100%;
  max-height: auto; */
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

.filterSection{
  margin: 2rem;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  padding-top: 1em;
  overflow-x: auto;
  background: #25292C;
  box-shadow: inset 0.5px 0.5px 2px rgba(255,255,255,0.3), 
             inset 3px 15px 45px rgba(0,0,0,0.2),
             inset -1px -1px 2px rgba(0,0,0,0.5), 
             inset -3px -15px 45px rgba(255,255,255,0.1),
             1px 5px 10px -4px rgba(0,0,0,1);

}

.filterSection mat-label{
  color: #cccccc;
  }


  .thead .customHeader{
    background: #25292C!important;
}


.mat-header-cell{
    color: #d9d9d9;
    background-color: #25292C;
}
.mat-cell{
    color: #d9d9d9;
}


.customTable {
  background: #4e5356;

  box-shadow: inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.3),
      inset 3px 15px 45px rgba(0, 0, 0, 0.2),
      inset -1px -1px 2px rgba(0, 0, 0, 0.5),
      inset -3px -15px 45px rgba(255, 255, 255, 0.1),
      1px 5px 10px -4px rgba(0, 0, 0, 1) !important;
  color: #d9d9d9;

  width: 95%;
  margin: 2rem;
  
}

::ng-deep .mat-select-value{    
  color: #2c2b2b!important;
}