<div style="
background-color: #262626;
position: absolute;
height: 100%;
width: 100%;
">
  <div class="main-content">
    <!-- <div style="max-width:1024px;padding:20px;margin: 50px auto">
   -->
    <div class="filterSection">

      <mat-form-field appearance="fill" class="form">
        <mat-label style="color: white;">Institute</mat-label>
        <mat-select (selectionChange)="selectInstitute($event)" [(ngModel)]="studentInstitute" value=ngDefaultControl
          class="styleSelect">
          <mat-option *ngFor="let student of institutes" value="{{student.instituteID}}">
            {{student.instituteName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label style="color: white;">Regulation</mat-label>
        <mat-select (selectionChange)="selectRegulation($event)" [(ngModel)]="studentRegulation" value=ngDefaultControl
          class="styleSelect">
          <mat-option *ngFor="let student of regulations" value="{{student.regulation}}">
            {{student.regulation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label style="color: white;">Course</mat-label>
        <mat-select (selectionChange)="selectCourse($event)" [(ngModel)]="studentCourse" ngDefaultControl
          class="styleSelect">
          <mat-option *ngFor="let student of courses" value="{student.course}">
            {{student.course}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label style="color: white;">Department</mat-label>
        <mat-select (selectionChange)="selectDepartment($event)" [(ngModel)]="studentDepartment" value=ngDefaultControl
          class="styleSelect">
          <mat-option *ngFor="let student of departments" value="{{student.departmentID}}">
            {{student.departmentName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label style="color: white;">Curriculum</mat-label>
        <mat-select (selectionChange)="selectCurriculum($event)" [(ngModel)]="studentCurriculum" value=ngDefaultControl
          class="styleSelect">
          <mat-option *ngFor="let student of curriculums" value="{{student.curriculumID}}">
            {{student.curriculumID}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      &nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label style="color: white;">Semester</mat-label>
        <mat-select (selectionChange)="selectSemester($event)" [(ngModel)]="studentSemester" ngDefaultControl
          class="styleSelect">
          <mat-option *ngFor="let student of semesters" value="{student.semester}">
            {{student.semester}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- </ng-template> -->
    <!-- <p><span>You selected: </span><b>{{selectedStream}}</b></p>
    <p><span>You selected: </span><b>{{selectedBatch}}</b></p>
    <p><span>You selected: </span><b>{{selectedSection}}</b></p> -->

    <!-- <div style="text-align: end;position: relative;top: 0.25rem;right:49.5rem">
    <a mat-raised-button href="javascript:void(0)" (click)="reset()" color="primary" class="Btn">Reset</a>
  </div> -->


    <div style="margin: 2rem;">
      <a mat-raised-button href="javascript:void(0)" (click)="reset()" color="primary" class="Btn float-right">Reset</a>
      <a mat-raised-button href="javascript:void(0)" (click)="toggleTableRows()" color="primary"
        class="Btn float-right">Toggle Rows</a>

    </div>
    <!-- Master Toggle Button -->
    <!-- <div style="text-align: end;position:relative; bottom:2rem;right:54.5rem">
    <a mat-raised-button href="javascript:void(0)" (click)="toggleTableRows()" color="primary" class="Btn">Toggle Rows</a>
  </div> -->

    <table style="margin: 2rem;" mat-table [dataSource]="dataStudentsList" multiTemplateDataRows
      class="mat-elevation-z8 departmentTableClass customTable">
      <ng-container matColumnDef="Registration ID">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Registration ID </th>
        <td mat-cell *matCellDef="let element"> {{element.RegistrationID}} </td>
      </ng-container>

      <ng-container matColumnDef="studentName">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
      </ng-container>

      <ng-container matColumnDef="institute">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Institute </th>
        <td mat-cell *matCellDef="let element"> {{element.institute}} </td>
      </ng-container>

      <ng-container matColumnDef="course">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

      <ng-container matColumnDef="semester">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Semester </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="Batch">
        <th mat-header-cell *matHeaderCellDef> Batch </th>
        <td mat-cell *matCellDef="let element"> {{element.Batch}} </td>
      </ng-container>
      <ng-container matColumnDef="Section">
        <th mat-header-cell *matHeaderCellDef> Section </th>
        <td mat-cell *matCellDef="let element"> {{element.Section}} </td>
      </ng-container> -->

      <ng-container matColumnDef="CGPA">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> CGPA </th>
        <td mat-cell *matCellDef="let element"> {{element.CGPA}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="customHeader" mat-header-cell *matHeaderCellDef style="border-bottom: none;"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button href="javascript:void()" (click)="element.isExpanded = !element.isExpanded"
            class="Btn">Individual SGPA</button>
        </td>
      </ng-container>

      <div *matNoDataRow class="noDataTable">No data</div>

      <!-- Template for details row -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedStudentsColumnsList.length">
          <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
            <mat-list>
              <button mat-button class="Btn" (click)="openDialog(element)"
                style="position:relative;left:4rem;top:0.3rem">Open dialog</button>
              <div mat-subheader style="color: white;">Semester Details of {{element.studentName}}</div>
              <mat-list-item *ngFor="let subject of element.semesterData">
                <div style="color: white;" mat-subheader>Semester Number - {{subject.semesterNo}} | Grade:
                  {{subject.SGPA}}</div>
              </mat-list-item>
            </mat-list>
          </div>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedStudentsColumnsList;sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedStudentsColumnsList;" class="student-element-row"
        [class.student-expanded-row]="element.isExpanded"></tr>

      <!-- Extra row to show detail content column -->
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>

    </table>




  </div>
</div>