
<mat-expansion-panel [expanded]="false" class="matPanel " style="margin-top: 1rem; background:rgb(116 116 134 / 56%);
">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-size: 1rem; color:white;">
        {{paneltitle}}
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="background-color:rgb(51 50 50 / 87%);;width: -webkit-fill-available;box-shadow: 1px 2px 8px #6d6d6d ;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col" class='col'>
          <th mat-header-cell *matHeaderCellDef  style="color: white; font-size: 1rem;">{{ col }}</th>
          <td mat-cell *matCellDef="let row" style="color: white; font-size: 1rem;">{{ row[col] }} </td>
        </ng-container>
      
        <!-- Default Table lines -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Group header cells-->
        <ng-container matColumnDef="groupHeader">
          <td colspan="999" mat-cell *matCellDef="let group"  style="color: white; font-size: 1rem;">
            <strong>{{group.groupName}}</strong>
          </td>
        </ng-container>
        <ng-container matColumnDef="groupReducer">
          <td colspan="1" mat-cell *matCellDef="let group">
            <div fxFill fxLayoutAlign="center center">
              <mat-icon *ngIf="!group.reduced">expand_less</mat-icon>
              <mat-icon *ngIf="group.reduced">expand_more</mat-icon>
            </div>
          </td>
        </ng-container>
      
        <!-- Group line -->
        <tr mat-row  class="clickable"
            *matRowDef="let row; columns: ['groupReducer','groupHeader']; when: isGroup" 
            (click)="reduceGroup(row)" > 
        </tr>
      
      </table>
    </div>
  </mat-expansion-panel> 

