<div class="subHeader mb-5 p-2">
  <div class="d-flex">
    <div>
      <button mat-button type="button" (click)="onGoBack()">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <div class="mr-auto pt-2">{{ showCourse }}</div>

    <select class="form-control w-25" (change)="onChangeCollege($event)">
      <option>None</option>
      <option>B.Tech</option>
      <option>M.Tech</option>
    </select>
  </div>
</div>

<div class="container">
  <table
    mat-table
    [dataSource]="this.dataSource"
    class="mat-elevation-z8"
    matSort
  >
    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="student_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
      <td mat-cell *matCellDef="let element">{{ element.student_id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="Quota">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quota</th>
      <td mat-cell *matCellDef="let element">{{ element.Quota }}</td>
    </ng-container>
    <ng-container matColumnDef="Course_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Type</th>
      <td mat-cell *matCellDef="let element">{{ element.Course_type }}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="allocation_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Allocation Status
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.allocation_status }}
      </td>
    </ng-container> -->
    <!-- Weight Column -->
    <ng-container matColumnDef="allocation_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Allocation Status
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.allocation_status === Allocated">
          <i class="fa fa-check-circle" style="font-size: 24px; color: red"></i>
        </div>
        <div *ngIf="element.allocation_status != Allocated">
          <i
            class="fa fa-check-circle"
            style="font-size: 24px; color: green"
          ></i>
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->

    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
  </table>

  <div class="m-5 d-flex justify-content-end">
    <!-- <button type="submit" class="btn btn-primary mr-2" (click)="onSeatAllot()">
      Allot Seats
    </button>
    <button type="submit" class="btn btn-success" (click)="onSaveAllotment()">
      Save Allotment
    </button> -->
  </div>
</div>
