ul.breadcrumb {
  height: 3rem;
  padding: 10px 16px;
  list-style: none;
  background-color: #7e9bb3;
  color:#e9e9e5;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "|\00a0";
}

ul.breadcrumb li a {
  color:#1a1a1a;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color:#cfcede;
 
}