<div class="ComponentBorderClass">
    <div style="background-color: white;">
      <mat-form-field class="SubSearchIconClass">
        <mat-icon  matPrefix>search</mat-icon>
        <input matInput type="search" [(ngModel)]="SubSearchKey" (ngModelChange)="SubSearch()" class="search-input">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Choose an Regulation</mat-label>
      <mat-select >
        <mat-option *ngFor="let Regulation of Regulations" value="option1">{{Regulation.Regulation_Name}}</mat-option>
        <!-- <mat-option value="option2">R16</mat-option>
        <mat-option value="option3">R17</mat-option> -->
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Choose an department</mat-label>
      <mat-select >
        <mat-option *ngFor="let Department of Departments" value="option1">{{Department.Department_Name}}</mat-option>
        <!-- <mat-option value="option2">ECE</mat-option>
        <mat-option value="option3">EEE</mat-option> -->
      </mat-select>
    </mat-form-field>
    <button class="SubUploadBtnClass" mat-stroked-button aria-label="Example icon button with a open in new tab icon">
      <mat-icon>upload</mat-icon>
    </button>
    </div>
    <!-- <mat-card class="example-card">
      <mat-card-content> -->
        <div>
          
        </div>
      <!-- </mat-card-content>
    </mat-card> -->
    <div class="pt-3" style="padding: 15px;">
      <div class="example-button-container">
        <button class="floatingBtn" mat-fab  aria-label="Add new subjects" (click)="onAddNewSubject()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <table
      #table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table" style="width: 100%;"
    >
      <ng-container matColumnDef="Subject_ID">
        <th mat-header-cell *matHeaderCellDef class="tablecss">Subject Code</th>
        <td mat-cell *matCellDef="let element">{{ element.Subject_ID }}</td>
      </ng-container>
    
      <ng-container matColumnDef="Subject_Name">
        <th mat-header-cell *matHeaderCellDef class="tablecss" (click)="SubSort('Subject_Name')">Subject Name&nbsp;<i class="fa fa-fw fa-sort"></i></th>
        <td mat-cell *matCellDef="let element" >{{ element.Subject_Name }}</td>
      </ng-container>
    
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef class="tablecss">Subject Type</th>
        <td mat-cell *matCellDef="let element">{{ element.Type }}</td>
      </ng-container>
      <ng-container matColumnDef="Credit">
        <th mat-header-cell *matHeaderCellDef class="tablecss">Credits</th>
        <td mat-cell *matCellDef="let element">{{ element.Credit }}</td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef class="tablecss">Active</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle></mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="tablecss">Actions</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="onEditSubject(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> 
    </div>
    </div>
