.mat-form-field {
    margin-left: 20px;
}
.floatingBtn{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#7b59d0;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.ComponentBorderClass{
	margin:10px;
}
.SubUploadBtnClass{
	width: 48px;
	float: right;
	margin-right: 15px;
    margin-top: 10px;
}
.mat-form-field-prefix{
	top:5px;
}
.table th, .table td {
    vertical-align: middle;
}