<div class="bgmd">
  <div class="cardbox" >
    <div>
      <mat-card class="w3_info">
        <mat-card-header>
          <mat-card-title
            ><p class="whitetext">Register your University</p></mat-card-title
          >
        </mat-card-header>
        <mat-card-content style="align-content: center;">
          <mat-form-field appearance="outline" style="margin-left: 15%;">
            <mat-label><p class="whitetext">University ID</p></mat-label>

            <input
              matInput
              placeholder="Placeholder"
              [(ngModel)]="global.data.InstitutionId"
            />
          </mat-form-field>

          <br />
          <mat-form-field appearance="outline" style="margin-left: 15%;">
            <mat-label><p class="whitetext">University</p></mat-label>

            <input
              matInput
              placeholder="Placeholder"
              [(ngModel)]="global.data.InstitutionName"
            />
          </mat-form-field>

          <br />
          <mat-form-field appearance="outline" style="margin-left: 15%;">
            <mat-label> <p class="whitetext">University Type</p></mat-label>
            <mat-select [(value)]="global.data.InstitutionType">
              <mat-option value="University(hierarchial)"
                >University</mat-option
              >
              <mat-option value="College(Autonomous)"
                >College(Autonomous)</mat-option
              >
            </mat-select>
          </mat-form-field>

          <br
            *ngIf="global.data.InstitutionType == 'University(hierarchial)'"
          />

          <mat-form-field
            *ngIf="global.data.InstitutionType == 'University(hierarchial)'"
            appearance="outline" style="margin-left: 15%;"
          >
            <mat-label><p class="whitetext">Colleges</p></mat-label>
            <mat-select [(ngModel)]="global.data.Colleges">
              <mat-option value="option1">Single</mat-option>
              <mat-option value="option2">multiple</mat-option>
              <mat-option value="option3">None</mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <mat-form-field appearance="outline" style="margin-left: 15%;">
            <mat-label><p class="whitetext">Departments</p></mat-label>
            <mat-select [(ngModel)]="global.data.Departments">
              <mat-option value="option1">Single</mat-option>
              <mat-option value="option2">multiple</mat-option>
              <mat-option value="option3">None</mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" style="margin-left: 15%;">
            <mat-label><p class="whitetext">Description</p></mat-label>
            <textarea [(ngModel)]="global.data.Description" matInput></textarea>
          </mat-form-field>
          <br />
          <button
            mat-raised-button
            color="primary"
            style="align-self: center; margin-left: 30%"
            (click)="onPressSubmit()"
            class="Addbutton"

          >
            Submit
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
