<!-- Visit https://nicolaskadis.info/posts/pure-css-flip-cards-using-bootstrap-4-and-css-grid-no-js for an explanation -->
<div class="round-bg" [hidden]="!showRounds">
  <div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div
        class="col-md-4 card-container hvr-float-shadow"
        [hidden]="freezeRound[1]"
      >
        <div class="card-flip">
          <!-- Card 1 Front -->
          <div class="card front p-5 m-5">
            <div class="card-block">
              <p class="card-text text">1</p>
            </div>
          </div>
          <!-- End Card 1 Front -->

          <!-- Card 1 Back -->
          <div class="card back p-3 m-5">
            <div class="card-block justify-content-around">
              <button
                type="submit"
                (click)="goRound1()"
                class="btn btnRound mr-2"
              >
                Go
              </button>
              <button
                type="submit"
                (click)="goFreeze1()"
                class="btn btn-danger"
              >
                Freeze
              </button>
            </div>
          </div>
          <!-- End Card 1 Back -->
        </div>
      </div>
      <!-- End Card 1 -->

      <!-- Card 2 -->
      <div
        class="col-md-4 card-container hvr-float-shadow"
        [hidden]="freezeRound[2]"
      >
        <div class="card-flip">
          <!-- Card 2 Front -->
          <div class="card front p-5 m-5">
            <div class="card-block">
              <p class="card-text text">2</p>
            </div>
          </div>
          <!-- End Card 2 Front -->

          <!-- Card 2 Back -->
          <div class="card back p-3 m-5">
            <!-- <div class="card-header">Featured</div> -->
            <div class="card-block">
              <!-- <h4 class="card-title">Special title treatment</h4> -->
              <!-- <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p> -->
              <button
                type="submit"
                (click)="goRound2()"
                class="btn btnRound mr-2"
              >
                Go
              </button>
              <button
                type="submit"
                (click)="goFreeze2()"
                class="btn btn-danger"
              >
                Freeze
              </button>
            </div>
          </div>
          <!-- End Card 2 Back -->
        </div>
      </div>
      <!-- End Card 2 -->

      <!-- Card 3 -->
      <div
        class="col-md-4 card-container hvr-float-shadow"
        [hidden]="freezeRound[3]"
      >
        <div class="card-flip">
          <!-- Card 3 Front -->
          <div class="card front p-5 m-5">
            <div class="card-block">
              <p class="card-text text">3</p>
            </div>
          </div>
          <!-- End Card 3 Front -->

          <!-- Card 3 Back -->
          <div class="card back p-3 m-5">
            <!-- <div class="card-header">Featured</div> -->
            <div class="card-block">
              <button
                type="submit"
                (click)="goRound3()"
                class="btn btnRound mr-2"
              >
                Go
              </button>
              <button
                type="submit"
                (click)="goFreeze3()"
                class="btn btn-danger"
              >
                Freeze
              </button>
              <!-- <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">2 days ago</div> -->
            </div>
            <!-- End Card 3 Back -->
          </div>
        </div>
        <!-- End Card 3 -->
      </div>
    </div>
  </div>
</div>

<!-- Course Details -->
<section class="container" [hidden]="showRounds">
  <div class="row mb-5">
    <!-- CSE -->
    <div class="col col-md-4" *ngFor="let course of this.courses">
      <div class="card">
        <img
          class="card-img-top p-4"
          src="{{ course.imgURL }}"
          alt="Not Found"
          height="250px"
        />
        <div class="card-body">
          <h4 class="card-title align-center" style="font-weight: bolder">
            {{ course.name }}
          </h4>
          <p class="text-muted text-justify">{{ course.desc }}</p>
          <p style="font-weight: bolder">Total Seats : {{ course.seats }}</p>
          <div class="text-center">
            <button
              type="submit"
              class="btn btnStudent"
              (click)="selectStudentList(course.id)"
            >
              View Student List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
