<mat-tab-group>
  <mat-tab label="Total Students">
    <div class="container mt-5">
      <table
        mat-table
        [dataSource]="this.dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="student_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
          <td mat-cell *matCellDef="let element">{{ element.student_id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="Quota">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quota</th>
          <td mat-cell *matCellDef="let element">{{ element.Quota }}</td>
        </ng-container>
        <ng-container matColumnDef="Course_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Course_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="allocation_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Allocation Status
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.allocation_status === Allocated">
              <i
                class="fa fa-check-circle"
                style="font-size: 24px; color: red"
              ></i>
            </div>
            <div *ngIf="element.allocation_status != Allocated">
              <i
                class="fa fa-check-circle"
                style="font-size: 24px; color: green"
              ></i>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
      </table>

      <div class="m-5 d-flex justify-content-end">
        <button
          type="submit"
          class="btnAllot form-control"
          (click)="onSeatAllot()"
        >
          Allot Seats
        </button>
      </div>
    </div>
    <!-- </mat-toolbar> -->
  </mat-tab>
  <mat-tab label="Courses" [disabled]="!this.showCourses"
    ><section class="container">
      <div class="row mb-5">
        <!-- CSE -->
        <div class="col col-md-4" *ngFor="let course of this.courses">
          <div class="card">
            <img
              class="card-img-top p-4"
              src="{{ course.imgURL }}"
              alt="Not Found"
              height="250px"
            />
            <div class="card-body">
              <h4 class="card-title align-center" style="font-weight: bolder">
                {{ course.Course_name }}
              </h4>
              <p class="text-muted text-justify">
                {{ course.Course_description }}
              </p>
              <p class="card-title">Total Seats : {{ course.Seats }}</p>
              <div class="text-center">
                <button
                  type="submit"
                  class="btnSearch form-control"
                  (click)="selectStudentList(course.Course_id)"
                >
                  View Student List
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>

<!-- Course Details -->
