.main-content{
  padding: 1em;
  background-color: #262626;
  min-height: 100%;
  max-height: auto;
  padding-bottom: 5.5em; 
}

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
    
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.action-button {
  background: #3f3a64;
  background: -webkit-gradient(linear, 0 0, 0 0, from(#7b59d0), to(#3f3a64));
  background: -moz-linear-gradient(#7b59d0, #3f3a64);
  background: linear-gradient(#7b59d0, #3f3a64);
  border-top: 1px solid #7b59d0;
  color: #d3d1da;
} 

.action-button:hover {
  opacity: 0.9;
  color: white;
}

.mat-raised-button.mat-button-disabled{
  color: #8c8c8c;
}

/* FILTER BAR  STYLING */

.filter-bar{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-x: auto;
  background: #25292C;
  box-shadow: inset 0.75px 0.75px 2px rgba(255,255,255,0.3), 
             inset 3px 15px 45px rgba(0,0,0,0.2),
             inset -1px -1px 2px rgba(0,0,0,0.5), 
             inset -3px -15px 45px rgba(255,255,255,0.1),
             1px 5px 10px -4px rgba(0,0,0,1);
}

.filter-bar mat-form-field mat-label{
 color:white;
}

.filter-bar mat-form-field{
  margin-inline: 1em; 
}

.filter-bar button{
  margin-inline: 2em; 
  margin-top: 2em; 
}

/* ::ng-deep .mat-select-value{    
  color: #e6e6e6!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  box-shadow: 1px 1px 10px -4px rgba(0,0,0,1);
} */

.filter-bar mat-select{
  background: #bfbfbf;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.filter-bar mat-select.mat-select-value {
  color: #f8f9fa !important;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.9em 0 0.5em 0 !important;
}

:host ::ng-deep .mat-select-arrow {
  position: relative;
  top: 8px;
}

:host ::ng-deep .mat-form-field-wrapper{
  padding-bottom:0;
}

:host ::ng-deep .mat-form-field-underline {
  position: relative;
  bottom: 0;
}

::ng-deep .snackBar .mat-simple-snackbar-action {
  color: #7b59d0 ;
}

::ng-deep .snackBar .mat-simple-snackbar-action button {
  font-weight: bold;
}

::ng-deep .snackBar.mat-snack-bar-container {
  background: #25292C;
  box-shadow: inset 0.75px 0.75px 2px rgba(255,255,255,0.3), 
             inset 3px 15px 45px rgba(0,0,0,0.2),
             inset -1px -1px 2px rgba(0,0,0,0.5), 
             inset -3px -15px 45px rgba(255,255,255,0.1),
             1px 5px 10px -4px rgba(0,0,0,1);
}


/* EXPANSION PANEL FOR DISPLAYING DETAILS */

.details-panel{
  margin: 2em 0;
}

.details-panel mat-expansion-panel{
  background: #25292C;
  box-shadow: inset 0.75px 0.75px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1) !important;
}

.details-panel mat-panel-description, .details-panel mat-panel-title{
  color: #e6e6e6; 
}

/* MARKS PREVIEW - STYLING */

.preview-container{
 display: flex;
 flex-direction:column;
 padding: 1em;
 background: #25292C;
 box-shadow: inset 0.75px 0.75px 2px rgba(255,255,255,0.3), 
             inset 3px 15px 45px rgba(0,0,0,0.2),
             inset -1px -1px 2px rgba(0,0,0,0.5), 
             inset -3px -15px 45px rgba(255,255,255,0.1),
             1px 5px 10px -4px rgba(0,0,0,1);
}

.preview-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1em;
}

.preview-header mat-label{
  color: #e6e6e6;
} 

.table-container{
 overflow-x:auto;
 box-shadow: 2px 2px 8px #0b0b0b  !important;
}
.loader-Container{
  position: fixed;
  width:100% ;
  z-index: 99;
}
table {
  width: 100%;
  background : #333333;
}
th.mat-header-cell, td.mat-cell{
  border-bottom-color: #7b59d0;
}
th.mat-header-cell {
  font-size: 0.8rem;
  color: #e6e6e6;
}
td.mat-cell{
  color: #e6e6e6;
}
tr:last-child td.mat-cell{
  border-bottom:none;
}